.container-fluid
  .row
    .col-md-10.col-md-offset-2
      %h2 Sometimes it's hard to express yourself.  Let the old man help!
  .row.oldman
    .col-md-4.col-md-offset-2
      %img.img-responsive{src:"http://localhost:3000/assets/Old-Man.jpg"}
    .col-md-5
      %h1
        - if @sayings.present?
          = @sayings.sample.quote
  .row.oldmanbutton
    .col-md-2.col-md-offset-2
      =link_to "Is that all you got, old man?", sayings_path, :class => "btn btn-default"
    .col-md-2.col-md-offset-1
      OR
    .old-md-2.col-md-offset-1
      = link_to "Add your own!", new_saying_path, :class => "btn btn-default"
